# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env

# macOS / Windows
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# Project artifacts
faiss_index/
pdfs/*.pdf

# Build artifacts
build/
dist/
*.egg-info/
